# Virtual environments
sdp_env/
.venv/
.env

# Private keys and certs
**/*_private.pem
client/user_private.pem
key.pem
cert.pem
certs/
# If you keep public keys in repo, don't ignore them; otherwise:
# client/user_public.pem

# Binary secrets
service_id.bin
spa_key.bin
*.bin

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Testing / tools
.pytest_cache/
.mypy_cache/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor / OS files
.vscode/
.DS_Store
*.swp